<div class="col-md-6" id="login" style="margin: 0 auto; position: relative; top: 100px;">
    <div style="margin-left: 120px;">
        <h3 class="">Sign In</h3>
        <form id="login-form" class="form-group" method="get" >
            <p>Username: <br /><input required type="text" class="form-control" name="username" placeholder="Username" /></p>
            <p>Password: <br /><input required type="password" class="form-control" name="password" placeholder="Password" /></p>
            <p><input type="submit" class="btn btn-success" value="Login" /><i style="color: white; margin-left: 19px;"> Don't have an account? <a href="#" id="signup">Sign Up</a></i></p>
        </form>
    </div>
</div>