<div class="col-md-6" id="register-form" style="transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;">
    <div style="margin-left: 0;">
        <h3 class="">Register</h3>
        <form id="register-form" class="form-group" method="get" action="/User/Register">
            <p>Username: <br /><input type="text" class="form-control" name="username" placeholder="Username" /></p>
            <p>Email: <br /><input type="email" class="form-control" name="email" placeholder="i.e. johndoe@example.com" /></p>
            <p>First Name: <br /><input type="text" class="form-control" name="firstname" placeholder="First Name" /></p>
            <p>Last Name: <br /><input type="text" class="form-control" name="lastname" placeholder="Last Name" /></p>
            <p>Password: <br /><input type="password" class="form-control" name="password" placeholder="Password" /></p>
            <p><input type="submit" class="btn btn-success" value="Register" /><i style="color: white; margin-left: 19px;"> Already have an account? <a href="#" id="signin">Log in</a></i></p>
        </form>
    </div>
</div>
